<div class="contianer-fluid">
  <div class="col-md-12">
    <h1 class="text-center">Welcome, <%= @user.email %></h1>
  </div>
</div>

<div class="container-fluid">
  <h3>Your To-Do List:</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item #</th>
          <th>Item Name</th>
          <th>Remove Item</th>
          <th>Days left to complete</th>
        </tr>
      </thead>
      <tbody>
      <%= render current_user.items %>
    </tbody>
    </table>
  <%= render '/items/form', item: Item.new %>
</div>
