<div class="container">
  <% @user.items.each do |item| %>
    <li id="item-<%= item.id%>"><%= item.name.capitalize %>
    <%= link_to "", user_item_path(item.user, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
  <% end %>
</div>
